{% set folderMode = true %}
{% extends "base.html" %}

{% block pageTitle %}
{{request.path}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/?action=getResource&rname=font-awesome.min.css">
<link rel="stylesheet" href="/?action=getResource&rname=materialize-social.css">
{% endblock %}

{% block topExtraJS %}
<script src="/?action=getResource&rname=folderView.js"></script>
{% endblock %}

{% block deskNavAction %}
<li><a href="#" class="search-toggle hide-on-med-and-down" title="{{gstr('search')}}"><i
      class="material-icons center">search</i></a></li>
<li><a id="tableNewFolderBtn" onclick="$('#newFolderModal').modal('open')" id="newFolderBtn"
    title="{{gstr('newFolder')}}"><i class="material-icons center">create_new_folder</i></a></li>
<li><a class="dropdown-trigger " href="#!" data-target="uploadDropdown" title="{{gstr('upload')}}"
    id="tableUploadBtn"><i class="material-icons center">upload</i></a>
</li>
<li><a href="?action=download" id="tableDownloadFolderBtn" title="{{gstr('download')}}"><i
      class="material-icons center">download</i></a></li>
{% if current_user.role == "admin" %}
<li><a id="tableFilePropertiesBtn" title="{{gstr('properties')}}"><i class="material-icons center">rule_folder</i></a>
</li>
{% endif %}
{% endblock %}

{% block contentNoPadding %}
<input type="file" id="tableUploadInput" onchange="upload();" multiple="multiple" style="display: none;">
<input type="file" id="tableUploadFolderInput" onchange="uploadFolder()" style="display: none;" webkitdirectory
  mozdirectory>
<ul id='uploadDropdown' class='dropdown-content'>
  <li><a onclick="document.getElementById('tableUploadInput').click()">
      <i class="material-icons left">upload_file</i>
      {{gstr("uploadFile")}}
    </a></li>
  <li><a onclick="document.getElementById('tableUploadFolderInput').click()">
      <i class="material-icons left">drive_folder_upload</i>
      {{gstr("uploadFolder")}}
    </a></li>
</ul>
<ul id='uploadSidenav' class='sidenav'>
  <li><a class="waves-effect" onclick="document.getElementById('tableUploadInput').click()">
      <i class="material-icons left">upload_file</i>
      {{gstr("uploadFile")}}
    </a></li>
  <li><a class="waves-effect" onclick="document.getElementById('tableUploadFolderInput').click()">
      <i class="material-icons left">drive_folder_upload</i>
      {{gstr("uploadFolder")}}
    </a></li>
</ul>
<ul id="pathNavSidenav" class="sidenav">

</ul>
{% endblock %}

{% block navContent %}
<div class="col s12" style="overflow: hidden;
      white-space: nowrap;margin-right: 20px;margin-left: 10px;" id="tableBreadcrumbDiv">
  <a id="morePathNavButton" class='sidenav-trigger breadcrumb' style="cursor: pointer;display: block;margin: 2px;"
    data-target='pathNavSidenav'>.....</a>
</div>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(category_filter=["error"]) %}
<div class="alert card red white-text">
  <div class="card-content">
    <p><i class="material-icons">report</i><span>{{message}}</span></p>
  </div>
</div>
{% endfor %}
{% for message in get_flashed_messages(category_filter=["success"]) %}
<div class="alert card green white-text">
  <div class="card-content">
    <p><i class="material-icons">check_circle</i><span>{{message}}</span></p>
  </div>
</div>
{% endfor %}
<div id="dropFileTipModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h5><b>{{gstr("dropFileTip")}}</b></h5>
  </div>
</div>
<div id="shareModal" class="modal modal-fixed-footer bottom-sheet">
  <div class="modal-content">
    <h4>{{gstr("share")}}</h4>
    <a class="waves-effect waves-light social-icon btn-large facebook" id="shareToFacebookBtn"><i
        class="fa fa-facebook"></i></a>
    <a class="waves-effect waves-light social-icon btn-large reddit" id="shareToRedditBtn"><i
        class="fa fa-reddit"></i></a>
    <a class="waves-effect waves-light social-icon btn-large twitter" id="shareToTwitterBtn"><i
        class="fa fa-twitter"></i></a>
    <div style="display: flex;margin-top: 10px;">
      <div class="form_div" id="copyUrlDiv" style="width: 100%;">
        <input type="text" class="form__input browser-default" id="copyUrlInput" readonly>
      </div>
      <a id="copyShareUrlBtn" onclick="copyShareUrl()"
        style="width:60px;margin-left: 5px;height: 48px;padding-top: 6px;" class="btn waves-effect waves-light"><i
          class="material-icons center">content_copy</i></a>
    </div>
    <div id="shareQrc" style="padding: 10px;background-color:white;width: 276px;"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect btn red"><i class="material-icons left">close</i>{{gstr("close")}}</a>
  </div>
</div>
<div id="newFolderModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>{{gstr("newFolder")}}</h4>
    <div class="form_div">
      <input type="text" class="form__input browser-default" id="newFolderName" name="newFolderName"
        placeholder="{{gstr('newFolderName')}}" required>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect btn red"><i class="material-icons left">close</i>{{gstr("close")}}</a>
    <a class="btn waves-effect waves-light" onclick="newFolder();"><i
        class="material-icons left">create_new_folder</i>{{gstr("newFolder")}}</a>
  </div>
</div>
<div id="filesOptionModal" class="modal modal-fixed-footer bottom-sheet">
  <form method="post" id="removePermissionSettingForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
  <form method="post" id="filesOptionForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="modal-content">
      <h4 id="filesOptionModalFilename" style="word-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;">No File is current settings</h4>
      <ul class="collapsible">
        <li id="deleteFilesLi">
          <div class="collapsible-header"><i class="material-icons">delete</i>{{gstr("delete")}}</div>
          <div class="collapsible-body">
            <h5>{{gstr("deleteTip")}}</h5>
            <a class="btn waves-effect waves-light red" id="deleteBtn">
              <i class="material-icons left">delete</i>{{gstr("delete")}}
            </a>
          </div>
        </li>
        {% if current_user.role=="admin" %}
        <li id="canAccessUsersSelectWidgetLi">
          <div class="collapsible-header"><i class="material-icons">visibility</i>{{gstr("canAccessUsers")}}</div>
          <div class="collapsible-body" id="canAccessUsersSelectWidget">
          </div>
        </li>
        <li id="canUploadUsersSelectWidgetLi">
          <div class="collapsible-header"><i class="material-icons">upload</i>{{gstr("canUploadUsers")}}</div>
          <div class="collapsible-body" id="canUploadUsersSelectWidget">
          </div>
        </li>
        <li id="canDeleteUsersSelectWidgetLi">
          <div class="collapsible-header"><i class="material-icons">delete</i>{{gstr("canDeleteUsers")}}</div>
          <div class="collapsible-body" id="canDeleteUsersSelectWidget">
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
    <div class="modal-footer" id="filesOptionModalFooter">
      <a class="modal-close waves-effect btn-flat">{{gstr("close")}}</a>
      <a class="waves-effect btn red" onclick="document.getElementById('removePermissionSettingForm').submit()"><i
          class="material-icons left">remove_circle</i>{{gstr("removeThisPermissionSetting")}}</a>
      <button class="btn waves-effect waves-light green" type="submit" name="action">
        <i class="material-icons left">save</i>{{gstr("save")}}
      </button>
    </div>
  </form>
</div>
<div class="modal bottom-sheet" id="loadOptionsModal" style="padding: 0;">
  <div class="modal-content">
    <h4 id="loadOptionsModalTitle">{{gstr("loadingOptions")}}</h4>
  </div>
  <div class="progress" style="background-color: unset;margin:0">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="previewModal" id="newPreviewModal">
  <div id="previewFrame" class="valign-wrapper">

  </div>
  <div id="previewToolBar">
    <nav>
      <div class="nav-wrapper">
        <span class="left" id="previewModalFilenameLabel">Filename</span>
        <ul class="right">
          <li><a onclick="fullscreen();"><i class="material-icons center">fullscreen</i></a></li>
          <li><a id="previewModalShareBtn" title="{{gstr('share')}}"><i class="material-icons center">share</i></a></li>
          <li><a id="previewModalDownloadBtn" title="{{gstr('download')}}" download><i
                class="material-icons center">download</i></a></li>
          <li><a onclick="closePreviewModal();" title="{{gstr('close')}}"><i class="material-icons center">close</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<ul class="sidenav" id="filesOptionsMenu">
  <li><a href="#" class="search-toggle hide-on-med-and-down waves-effect"><i
        class="material-icons">search</i>{{gstr("search")}}</a></li>
  <li id="mobileNewFolderLi"><a onclick="$('#filesOptionsMenu').sidenav('close');$('#newFolderModal').modal('open')"
      class="waves-effect"><i class="material-icons">create_new_folder</i>{{gstr("newFolder")}}</a></li>
  <li id="mobileUploadLi"><a onclick='$("#filesOptionsMenu").sidenav("close");$("#uploadSidenav").sidenav("open")'
      class="waves-effect noHref"><i class="material-icons">upload</i>{{gstr("upload")}}</a></li>
  <li><a href="?action=download" class="waves-effect" id="mobileDownloadFolderLi"><i
        class="material-icons">download</i>{{gstr("download")}}</a></li>
  {% if current_user.role == "admin" %}
  <li id="mobilePropertiesBtn"><a class="waves-effect noHref"><i
        class="material-icons">rule_folder</i>{{gstr("properties")}}</a></li>
  {% endif %}
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" target="_blank" href="?format=print"><i
        class="material-icons">print</i>{{gstr("print")}}</a></li>
  <li><a class="waves-effect" onclick="$('.buttons-excel').click()"><i
        class="material-icons">border_all</i>{{gstr("exportToExcel")}}</a></li>
  <li><a class="waves-effect" onclick="$('.buttons-csv').click()"><i
        class="material-icons">border_all</i>{{gstr("exportToCsv")}}</a></li>
  <li><a class="waves-effect" onclick="mobileCopyTable()"><i
        class="material-icons">content_copy</i>{{gstr("copyToClipboard")}}</a></li>
</ul>
<div class="card" id="upload-task-card">
  <div class="card-content" id="uploadTaskCardContent">
    <span class="card-title">{{gstr("upload")}}</span>
  </div>
</div>
<div id="largeTable" class="hide-on-med-and-down">
  <div class="card material-table">
    <table id="datatable">
      <thead>
        <tr>
          <th style="width: 50px;"></th>
          <th>{{gstr("filename")}}</th>
          <th>{{gstr("modifytime")}}</th>
          <th>{{gstr("filetype")}}</th>
          <th>{{gstr("filesize")}}</th>
          <th style="width: 70px;"></th>
        </tr>
      </thead>
      <tbody id="fileTableBody">

      </tbody>
    </table>
  </div>
</div>
<ul class="collection show-on-medium-and-down hide-on-med-and-up" id="mobileList">

</ul>
{% endblock %}
{% block onLoadScript %}
$('#filesOptionsMenu').sidenav({"edge":"right"});
$('#uploadSidenav').sidenav({"edge":"right"});
$('.modal').modal();
$("#dropFileTipModal").modal({
"opacity":0
})
$("#loadOptionsModal").modal({
"dismissible":false
})
$(".secondary-content").click(function(e) {
e.stopPropagation();
});
setTimeout(function() {
resize()
},500)
{% endblock %}
{% block extraJS %}
<script src="/?action=getResource&rname=jquery.qrcode.min.js"></script>
<script src="/?action=getResource&rname=jquery.dataTables.min.js"></script>
<script src="/?action=getResource&rname=buttons.html5.min.js"></script>
<script src="/?action=getResource&rname=buttons.print.min.js"></script>
<script src="/?action=getResource&rname=dataTables.buttons.min.js"></script>
<script src="/?action=getResource&rname=jszip.min.js"></script>
<script src="/?action=getResource&rname=script.js"></script>
{% endblock %}